@import "../core";
@import "common";

.hero {
	background-image: url(../../frontend/img/bg.jpg);
	background-size: cover;
	min-height: 71.5rem;
	padding-top: 2.7rem;
}

.new-items {
	margin-top: -8rem;
	min-height: 73rem;

	.item {
		min-height: 32.5rem;
		background-color: $alto;
	}
}

.section-title {
	min-height: 8rem;
}