@import "../core";
@import "common";

.hero {
	background-image: url(../../frontend/img/bg.jpg);
	background-size: cover;
	background-position: center;
	min-height: 71.5rem;
	padding-top: 2.7rem;
}

.logo {
	height:12rem;
	background-color:$red;
	display: inline-block;
	font-weight: 300;
	padding-top: 1rem;
}

nav{
	height: 6rem;
	background-color: $white;
}

.cart {
	background-color: $darkBlue;
	height: 6rem;
	float: right;
	padding-left:1.8rem;
	padding-top: 0.5rem;
}

.goods {
	color: $gray;
	font-size: 1.4rem;
}

.nav-list li{
	display: inline-block;
}

.nav-list a{
display: inline-block;
width: 13rem;
height: 6rem;
line-height: 6rem;
text-align: center;
color: $black;

&:hover {
	background-color:$darkBlue;
	color: $white;
	@include opacity(1);
};

}

.signIn{
	height: 6rem;
	line-height: 5rem;


	& a {
		border-bottom: 1px dashed;
	}
}

.hero h1 {
	padding-top: 21rem;
}

.new-items {
	margin-top: -8rem;
	min-height: 73rem;

	.item {
		min-height: 23.6rem;
		background-color: $alto;
	}
}

.item-price {
	min-height: 8.8rem;
	padding: 3rem;
}

.price {
	font-size: 1.8rem;
	color:$red;
	font-style: italic;
}

.section-title {
	min-height: 8rem;
	line-height:7rem;
}

.banners {
	min-height: 31rem;
}

.promo {
	padding: 22rem 1rem 2rem 1rem;
}

.banners .promo:nth-child(1) {
	background: url(../../frontend/img/banner-1.jpg) no-repeat;
	background-position: -15rem 0;
	height:31rem;
}

.banners .promo:nth-child(2) {
	background: url(../../frontend/img/banner-2.jpg) no-repeat ;
	background-position: -3rem 0;
	height:31rem;
}

 .banners .promo:nth-child(3) {
	background: url(../../frontend/img/banner-3.jpg) no-repeat;
	height:31rem;
}

.popular-items .item {
	min-height: 23.6rem;
		background-color: $alto;
		position:relative;
}

.corner {
	position: absolute;
	top:-0.2rem;
	left: -0.2rem;
}

.about {
	height: 31rem;
	width:100%;
	background: url(../../frontend/img/about-bg.jpg) no-repeat;
	background-position: -8rem -25rem;
}

.up {
	font-size:1.6rem;
}