// Buttons

.btn-outline {
	width: 24.5rem;
	height: 6rem;
	border: 3px solid $red;
	color: $white;
	line-height: 5rem;
	text-align: center;
	margin-top: 3rem;
	margin-left: 26.7rem;

	&:hover {
		background-color:$red;
	}
}
