// Buttons

.btn-outline {
	border: 3px solid $red;
	color: $white;
	text-align: center;
	

	&:hover {
		background-color:$red;
	}
}

.btn-big {
	width: 24.5rem;
	height: 6rem;
	margin-top: 3rem;
	margin-left: 26.7rem;
	line-height: 5rem;
}

.btn-small {
	width: 17rem;
	height: 5rem;
	line-height: 4rem;
}